{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h2 class="heading-large">Publish your data</h2>
  <p>
    We’re changing the publishing tool and will be launching a new improved service by June 2018. Until then, you can sign in using your current username (or email address).
  </p>
  <div class="panel panel-border-wide">
  <p>
    Any changes you make to your datasets will be published as normal to the newly-designed data.gov.uk, now called the Find open data service.

  </p>

</div>
  <input class="button" type="submit" value="Sign in">
  <h3 class="heading-medium">Become a publisher</h3>
  <p>
    To get help setting up an account, you can go to.
  </p>
  <p>
  <a href="http://guidance.data.gov.uk/becoming_an_editor_or_admin.html">Create an account</a> with surrounding text which shows the link in more context.
</p>
</main>

{% endblock %}
